h1
  margin-top: 0.4em
  margin-bottom: 0.4em

body
  background: #4682b4
  text-align: center
  font-family: Palatino
  font-size: 14px

#doge
  color: rgba(255, 255, 255, 0.6)
  font-size: 30px
  bottom: 0
  right: 10px
  position: fixed

#hello
  box-shadow: 0px 0px 10px #184363
  width: 800px
  height: 450px
  background-color: #FFFFFE
  position: fixed
  top: 50%
  left: 50%
  margin-top: -225px
  margin-left: -400px
  -webkit-animation-name: fade
  -webkit-animation-duration: 2.5s
  -webkit-animation-iteration-count: 1
  -webkit-animation-timing-function: ease-in-out


h1
  font-size: 70px
  font-weight: normal


#title
  font-size: 20px
  font-weight: bold


#title > p > a 
  color: black
  text-decoration: none


#seperator
  height: 40px
  margin: 0 30px
  background: url('data:image/pngbase64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') center left repeat-x


#social table
  margin: 0 auto


.perfect_website
  color: #888888

