#hello
  #name
    %h1 Brandon Mathis
  #title
    %p A Ruby Web Developer Creating Elegant Webapps.
  #desc
    %p Titanium White with Palatino type, perfectly weighted lettering, a soft 1px border with rouded corners.
    %p And just look at the tasteful thickness of that header. All conforming to W3C design standards. 
    %p It even has a favicon.
    %p.perfect_website <i>The Perfect Website</i>
  #seperator
  #social
    %table
      %tr
        %td
          %a{ :href => "http://blog.brandonmathis.me" }
            %img{ :title => "blog", :alt => "Octopress Blog", :src => "/images/blog.png" }
        %td
          %a{ :href => "http://twitter.com/brandonmathis" }
            %img{ :title => "twtter", :alt => "Twitter", :src => "/images/twitter.png" }
        %td
          %a{ :href => "http://www.facebook.com/BeMathis" }
            %img{ :title => "facebook", :alt => "Facebook", :src => "/images/facebook.png" }
        %td
          %a{ :href => "http://forrst.me/BeMathis" }
            %img{ :title => "forrst", :alt => "Forrst", :src => "/images/forrst.png" }
        %td
          %a{ :href => "skype:Bemathis87?call" }
            %img{ :title => "skype", :alt => "Skype", :src => "/images/skype.png" }
        %td
          %a{ :href => "http://www.linkedin.com/pub/brandon-mathis/26/879/566" }
            %img{ :title => "linkedin", :alt => "Linked In", :src => "/images/linked_in.png" }
        %td
          %a{ :href => "http://github.com/KeysetTS" }
            %img{ :title => "github", :alt => "GitHub", :src => "/images/github.png" }
        %td
          %a{ :href => "http://statigr.am/bemathis" }
            %img{ :title => "instagram", :alt => "instagram", :src => "/images/instagram.png" }
        %td
          %a{ :href => "mailto:Brandon@KeysetTS.com" }
            %img{ :title => "mail", :alt => "Mail", :src => "/images/mail.png" }

        -# %td
        -#   %a{ :href => "http://skitch.com/BeMathis/" }
        -#     %img{ :alt => "Skitch", :src => "/images/skitch.png" }
        -# %td
        -#   %a{ :href => "http://www.meetup.com/members/12126824/" }
        -#     %img{ :alt => "Meetup", :src => "/images/meetup.png" }
        -# %td
        -#   %a{ :href => "http://foursquare.com/brandonmathis" }
        -#     %img{ :alt => "Foursquare", :src => "/images/foursquare.png" }
  #work
    %p Brought to you by <a href="http://keysetts.com">Keyset</a>
