#hello
  #name
    %h1 Brandon Mathis
  #title
    %p Web Developer
  #desc
    %p Titanium White With Palatino Type, Perfectly Spaced Lettering, A Soft 1px Border With Rouded Corners.
    %p And Just Look At The Tasteful Thickness Of That Header. All Conforming To W3C Design Standards.
  #seperator
  #social
    %table
      %tr
        %td
          %a{ :href => "blog.brandonmathis.me" }
            %img{ :alt => "Octopress Blog", :src => "/images/blog.png" }
        %td
          %a{ :href => "http://twitter.com/brandonmathis" }
            %img{ :alt => "Twitter", :src => "/images/twitter.png" }
        %td
          %a{ :href => "http://www.facebook.com/BeMathis" }
            %img{ :alt => "Facebook", :src => "/images/facebook.png" }
        %td
          %a{ :href => "http://forrst.me/BeMathis" }
            %img{ :alt => "Forrst", :src => "/images/forrst.png" }
        %td
          %a{ :href => "skype:Bemathis87?call" }
            %img{ :alt => "Skype", :src => "/images/skype.png" }
        -# %td
        -#   %a{ :href => "http://skitch.com/BeMathis/" }
        -#     %img{ :alt => "Skitch", :src => "/images/skitch.png" }
        -# %td
        -#   %a{ :href => "http://www.meetup.com/members/12126824/" }
        -#     %img{ :alt => "Meetup", :src => "/images/meetup.png" }
        %td
          %a{ :href => "http://www.linkedin.com/pub/brandon-mathis/26/879/566" }
            %img{ :alt => "Linked In", :src => "/images/linked_in.png" }
        %td
          %a{ :href => "http://github.com/KeysetTS" }
            %img{ :alt => "GitHub", :src => "/images/github.png" }
        %td
          %a{ :href => "http://plus.google.com/115386279608925796712/" }
            %img{ :alt => "Google Plus", :src => "/images/googleplus.png" }
        -# %td
        -#   %a{ :href => "http://foursquare.com/brandonmathis" }
        -#     %img{ :alt => "Foursquare", :src => "/images/foursquare.png" }
        %td
          %a{ :href => "mailto:Brandon@KeysetTS.com" }
            %img{ :alt => "Mail", :src => "/images/mail.png" }
