!!! html
%head
  %title Ellen Mathis
  %meta( http-equiv = "content-type" content = "text/html; charset=utf-8" )
  %meta{ :name => "keywords", :content => "" }
  %link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

%body
  #content= yield
