!!! 5
%head
  %meta{ 'http-equiv' =>"Content-Type", 'content' => "text/html; charset=UTF-8"}
  %title Brandon Mathis
  -# %meta{ :name => "keywords", :content => "" }
  %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/style.css" }

%body
  #content= yield
