h1{
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
body{
  background: url(/images/bglines.png);
  text-align: center;
  font-family: Palatino;
  font-size: 14px;
}

@-webkit-keyframes fade {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

#hello{
  width: 800px;
  height: 450px;
  background-color: #FFFFFE;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -400px;
  border: solid 1px grey;
  border-radius: 5px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

h1{
  font-size: 70px;
  font-weight: normal;
}

#title{
  font-size: 20px;
  font-weight: bold;
}

#seperator{
  height: 40px;
  margin: 0 30px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') center left repeat-x;
}

#social table{
  margin: 0 auto;
}

.perfect_website{
  color: #888888;
}
