<!DOCTYPE HTML>
%head
  %meta{ 'http-equiv' =>"Content-Type", 'content' => "text/html; charset=UTF-8"}
  %title Brandon Mathis
  %meta{ :name => "keywords", :content => "ruby brandon mathis rails raleigh keyset twitter facebook" }
  %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/style.css" }
  %link{ :rel => "shortcut icon", :href => "favicon.ico?v=2" }

%body
  -# <div id='doge'>Ɖ</div>
  .content
    .card
      .card-body
        .card-name
          %h1 Brandon Mathis
        .card-title
          %p Raleigh Ruby Developer Writing Websites
        .card-desc
          %p You want to see Brandon Mathis' homepage?
          %p Just look at that subtle off-white coloring, that tasteful thickness of the type.
          %p Oh my god, it even has a favicon.
          %p.perfect_website <i>The Perfect Website</i>
        .card-seperator
        .card-social
          %ul
            %li
              %a{ :href => "http://smashingboxes.com/bio/brandon-mathis" }
                %img{ :title => "blog", :alt => "Octopress Blog", :src => "/images/blog.png" }
            %li
              %a{ :href => "http://twitter.com/brandonmathis" }
                %img{ :title => "twtter", :alt => "Twitter", :src => "/images/twitter.png" }
            %li
              %a{ :href => "http://www.facebook.com/BeMathis" }
                %img{ :title => "facebook", :alt => "Facebook", :src => "/images/facebook.png" }
            %li
              %a{ :href => "http://github.com/BrandonMathis" }
                %img{ :title => "github", :alt => "GitHub", :src => "/images/github.png" }
            %li
              %a{ :href => "http://www.meetup.com/members/12126824/" }
                %img{ :alt => "Meetup", :src => "/images/meetup.png" }
            %li
              %a{ :href => "http://instagram.com/brandonmathis_" }
                %img{ :title => "instagram", :alt => "instagram", :src => "/images/instagram.png" }
            %li
              %a{ :href => "https://www.linkedin.com/profile/view?id=91731678" }
                %img{ :title => "linkedin", :alt => "Linkedin", :src => "/images/linked_in.png" }
            %li
              %a{ :href => "mailto:BeMathis@gmail.com" }
                %img{ :title => "mail", :alt => "Mail", :src => "/images/mail.png" }
    #me
      %img{ :src => 'images/me.png' }
